<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="BraintreeEnvironment" value="SANDBOX" />
    <add key="BraintreeMerchantId" value="n78hx5ft5nd7jr7t" />
    <add key="BraintreePublicKey" value="ddsywx82z3mm29sx" />
    <add key="BraintreePrivateKey" value="2a45a4543d88ccc20a303e79c6d6d5e8" />
    <add key="DbConnectionString" value="Data Source=qdev1.corp.qall.se;User ID=sa;Password=P4ssw0rd!;Database=treat;" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>