<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StripeApiKey" value="sk_test_HRi8FIiM8izAHGeKQJtKLD1k" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=qdev1.corp.qall.se;User ID=sa;Password=P4ssw0rd!;Database=treat;" />
    <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>