<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BraintreeEnvironment" value="SANDBOX" />
    <add key="BraintreeMerchantId" value="n78hx5ft5nd7jr7t" />
    <add key="BraintreePublicKey" value="ddsywx82z3mm29sx" />
    <add key="BraintreePrivateKey" value="2a45a4543d88ccc20a303e79c6d6d5e8" />
    <add key="DbConnectionString" value="Data Source=qdev1.corp.qall.se;User ID=sa;Password=P4ssw0rd!;Database=treat;" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
  </appSettings>
</configuration>